/* 
请把与index.html页面相关的css代码写在这里
同时删除该注释
*/

/* #message只是一个示例，可以删除 */
#message {
	height: 30px;
	line-height: 30px;
	border: 1px solid red;
}

table,table tr th, table tr td { border:1px solid black; }

#items-tab {
	width: 600px; 
	min-height: 25px; 
	line-height: 25px; 
	text-align: center; 
	border-collapse: collapse;
}

.full-price {
	text-decoration:line-through;
	text-decoration-color: red;
}

.half-price {
	color: red;
	font-size: 10;
}